:root{
    --color1: #00239b;
    --color2: #d0393e;
    --blanco: #ffffff;
    --oscuro: #000000;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}
header{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px;
}
header h1{
    color: var(--color1);
    justify-self: center;
    font-size: 3rem;
    margin: auto;
}
h1 span{
    font-size: 2rem;
    color: var(--color2);
}
header img{
    max-height: 80px;
}

header a{
    color: var(--color1);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--color2);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }  
    
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;    
    padding: 1rem;
    display: block; /* Hace que el enlace ocupe todo el ancho disponible */
    width: 100%; /* Asegura que ocupe el 100% del contenedor */
    text-align: center; /* Centra el texto dentro del enlace */
}
.navegacion-principal a:hover{
    background-color: var(--color1);
    color: var(--oscuro);
}
.nosotros{
    background-image: url(../img/bogota.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    color: var(--oscuro);
}
.informacion_nosotros{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
}
footer{
    background-color: var(--oscuro);
}
.navegacion-secundaria{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .navegacion-secundaria{
        flex-direction: row;
        justify-content: space-between;
    }  
    
}
.navegacion-secundaria a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
}
.navegacion-secundaria legend{
    color: var(--blanco);
}
.derechos{
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}
.derechos p{
    color: var(--blanco);
    font-size: 12px;
}
