$fuente_principal: 'poppins', sans-serif;
$color1: #000fc0;
$color2: #e60000;
$blanco: #ffffff;
$oscuro: #000000;
$grisClaro: #dfd9f3;
$gris: #757575;
$imgPrincipal: url('../img/Celular-B.jpg');
$imgPrincipalComputador: url('../img/Computador-B.jpg');

//mixins
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1400px;