@use '../base/variables' as v;
@use '../base/mixins' as m;
/*Navegacion*/
.nav-bg{
    background-color: v.$color2;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navegacion-principal, .navegacion-secundaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a{
    color: v.$blanco;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;    
    padding: 1rem;
    display: block; 
    width: 100%; 
    text-align: center; 
}
.navegacion-principal a:hover{
    background-color: v.$color1;
    color: v.$oscuro;
}
.navegacion-secundaria a{
    padding: 1rem;
    color: v.$blanco;
    text-decoration: none;
}
.navegacion-secundaria legend{
    color: v.$blanco;
}