$fuente_principal: 'poppins', sans-serif;
$color1: #000fc0;
$color2: #e60000;
$blanco: #ffffff;
$oscuro: #000000;
$grisClaro: #dfd9f3;
$gris: #757575;
$imgPrincipal: url('../../src/img/Celular-B.jpg');
$imgPrincipalComputador: url('../../src/img/Computador-B.jpg');